<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- AndroidManifest.xml -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="face" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vidyanet"
        android:label="VidyaNet.Ai"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicLoginToApp"
        tools:targetApi="31">
        <activity
            android:name=".UpdateReel"
            android:exported="false" />
        <activity
            android:name=".Courses"
            android:exported="false" />
        <activity
            android:name=".PendingLectures"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".OfflineClass"
            android:exported="false" />
        <activity
            android:name=".MicroStudy"
            android:exported="false" />
        <activity
            android:name=".ConnectPpl"
            android:exported="false" />
        <activity
            android:name=".FacialRecog"
            android:exported="false" />
        <activity
            android:name=".TruckMap"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".Pie"
            android:exported="false" />
        <activity
            android:name=".PieChart3"
            android:exported="false" />
        <activity
            android:name=".PieChart1"
            android:exported="false" />
        <activity
            android:name=".IncDec"
            android:exported="false" />
        <activity
            android:name=".Craftable"
            android:exported="false" />
        <activity
            android:name=".VillagerTrade"
            android:exported="false" />
        <activity
            android:name=".Craft"
            android:exported="false" />
        <activity
            android:name=".UpdateItems"
            android:exported="false" />
        <activity
            android:name=".NewItemPrediction"
            android:exported="false" />
        <activity
            android:name=".AisleSelector"
            android:exported="false" />
        <activity
            android:name=".Shelf3"
            android:exported="false" />
        <activity
            android:name=".Activity_Shelf_2"
            android:exported="false" />
        <activity
            android:name=".AddInventory"
            android:exported="false" />
        <activity
            android:name=".ShopInfo"
            android:exported="false" />
        <activity
            android:name=".ShelfAssistant"
            android:exported="false" />
        <activity
            android:name=".CaseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CaseManagementSystem"
            android:exported="false" />
        <activity
            android:name=".TransparentTransactions"
            android:exported="false" />
        <activity
            android:name=".AdminChat"
            android:exported="false" />
        <activity
            android:name=".PendingCases"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3q0XgGvb9T-xvHaq6U-xVr3WGoWWdqbE" />

        <activity
            android:name=".ReportForm"
            android:exported="false" />
        <activity
            android:name=".Travel"
            android:exported="false" />
        <activity
            android:name=".OrderPage"
            android:exported="false" />
        <activity
            android:name=".DisplayActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationPage"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SendAlert"
            android:exported="false" />
        <activity
            android:name=".ObjectDetection"
            android:exported="false" /> <!-- Add the PayPalService configuration -->
        <activity
            android:name=".Payment"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>